body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 25px;
}

header a {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 14px 28px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}
@media (max-width: 600px) {
    header h1 {
        font-size: 2.2rem;
    }

    header p {
        font-size: 1rem;
    }
}
.services {
    padding: 60px 20px;
    text-align: center;
    background-color: white;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.services p {
    font-size: 1.1rem;
    color: #555;
}
.service-cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f9f9f9;
    padding: 25px;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.card p {
    color: #555;
    font-size: 1rem;
}.service-cards {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f9f9f9;
    padding: 25px;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.card p {
    color: #555;
    font-size: 1rem;
}